<div class="card card--secondary">
    <header class="card__header">
        <h3 class="plan__name">Entry</h3>
        <span class="plan__price">$14</span>
        <span class="plan__billing-cylce">/month</span>
        <span class="badge badge--secondary badge--small">10% OFF</span>
        <span class="plan__description">Begineer's Plan M-F</span>
    </header>
    <div class="card__body">
        <ul class="list list--tick">
            <li class="list__item">16oz cup per day </li>
            <li class="list__item">100% Arabica</li>
            <li class="list__item">Reusable Ceramic Cup</li>
        </ul>
        <button class="btn btn--outline btn--block">Buy Now</button>
    </div>
</div>

<!-- Basic card -->
<div style="width:30%; padding: 4rem">
    <div class="card card--secondary">
        <header class="card__header">
            Card Title
        </header>
        <div class="card__body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Architecto omnis odit a autem eius. Consequatur dolorem fuga nam quibusdam perspiciatis!
        </div>
    </div>
</div>