<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
         <h2 class="collapsible__heading">Item 1</h2>
         <svg class="icon icon--white collapsible__chevron">
             <use xlink:href="images/sprite.svg#chevron"></use>
         </svg>
     </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nulla, expedita velit a dicta reprehenderit? Eos possimus doloribus, quidem, quia odio 
        aspernatur magnam incidunt inventore eius reprehenderit, maiores laudantium pariatur!
    </div>
</div>
<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
         <h2 class="collapsible__heading">Item 2</h2>
         <svg class="icon icon--white collapsible__chevron">
             <use xlink:href="images/sprite.svg#chevron"></use>
         </svg>
     </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nulla, expedita velit a dicta reprehenderit? Eos possimus doloribus, quidem, quia odio 
        aspernatur magnam incidunt inventore eius reprehenderit, maiores laudantium pariatur!
    </div>
</div>
<script src="JS/main.js"></script>